page-vetementinfo {
    .color{  
        background-color:rgb(204, 63, 110);  
          
    } 
    .div{   
        overflow:auto;  
          
    }  
      
    .div>.div1{  
        
        width: 90px;
        height: 90px; 
        line-height:100px;  
        display:inline-block;  
    }  
    .div>.div2{  
          
        width: 90px;
        height: 90px; 
        line-height:100px;  
        display:inline-block;  
    }
}
